/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


// image style in Post Show page

 .img-post{
   display: inline-block;
     overflow: hidden;
 }
 .img-post img{
   width: 100%;
   height:300px
 }
 .img-post img:hover{
   opacity:0.7;
 }




 /*pagination style*/
 .digg_pagination {
   /*background: white;*/
   cursor: default;
   /* self-clearing method: */ }
   .digg_pagination a, .digg_pagination span, .digg_pagination em {
     padding: 0.2em 0.5em;
     display: block;
     float: left;
     margin-right: 1px; }
   .digg_pagination .disabled {
     color: #999999;
     border: 1px solid #e52a6f; }
   .digg_pagination .current {
     font-style: normal;
     font-weight: bold;
     background: #2e6ab1;
     color: white;
     border: 1px solid #e52a6f; }
   .digg_pagination a {
     text-decoration: none;
     color: #675682;
     border: 1px solid #e52a6f; }
     .digg_pagination a:hover, .digg_pagination a:focus {
       color: #000033;
       border-color: #e52a6f; }
   .digg_pagination .page_info {
     background: #2e6ab1;
     color: white;
     padding: 0.4em 0.6em;
     width: 22em;
     margin-bottom: 0.3em;
     text-align: center; }
     .digg_pagination .page_info b {
       color: #000033;
       background: #6aa6ed;
       padding: 0.1em 0.25em; }
   .digg_pagination:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden; }
   * html .digg_pagination {
     height: 1%; }
   *:first-child + html .digg_pagination {
     overflow: hidden; }


  .footer{

    margin-top: 150px;
    padding-top: 20px;
    height: 50px;
    background-color: #f3f3f3
}

.post-bottom{
  margin-bottom:150px

}
.post-title{
  margin-bottom: 20px
}
p {
  font-size: 16px;
}

.modal-content{
	z-index: 9999;
}
.modal-header, h4, .close {
		background-color: #5cb85c;
		color:white !important;
		text-align: center;
		font-size: 30px;
}
.modal-footer {
		background-color: #f9f9f9;
}

.modal-body2{
  padding: 15px;
}
.modal-body3{
  padding: 15px;
}
